@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgba(255, 255, 255, 0.228) !important;
  backdrop-filter: blur(20px) !important;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 2147483647 !important;
}

.Navbar-Container {
  position: sticky;
  top: 0;
  z-index: 2147483647 !important;
}

@media only screen and (max-width: 600px) {
  .txt-grad {
    font-size: 45px !important;
  }

}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}

.WOrkingTxt {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
}

.SItelogo {
  width: 150px;
}

.headHomeTxt p {
  color: white;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.navbardiv {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", serif;
}

.custom-header {
  background-color: rgba(255, 255, 255, 0.228);
  /* background-color: rgb(255 255 255 / 38%); */
  backdrop-filter: blur(20px);
  padding: 4px 2px 4px;
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
}

.custom-hamburger {
  width: 1.6rem;
  cursor: pointer;
}

.custom-hamburger div {
  width: 1.6rem;
  height: 2px;
  border: 1px solid #070828;
  margin-bottom: 5px;
  border-radius: 5px;
}

.custom-hamburger div:nth-child(2) {
  width: 1.3rem;
  background: #070828;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-fullscreen {
  clip-path: circle(0% at 96.5% 4%);
  position: absolute;
  background: #f2f8f9;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 0.5 cubic-bezier(0.23, 0.93, 0.23, 0.93);
}


.custom-fullscreen ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.custom-fullscreen li {
  padding: 0.5rem 1rem;
}

.custom-fullscreen li a {
  font-size: 30px !important;
  text-decoration: none I !important;
  background: -webkit-linear-gradient(45deg, rgba(182, 143, 213, 1) 0%, rgba(255, 174, 174, 0.685) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #2D3792;
}

.custom-fullscreen .custom-close {
  position: absolute;
  top: 1.3rem;
  right: 2.355rem;
  width: 2rem;
  height: 2rem;
  transform: rotate(45deg);
  cursor: pointer;
}

.custom-fullscreen .custom-close div {
  width: 32px;
  height: 32px;
  overflow: hidden;
}

.custom-fullscreen .custom-close div:before,
.custom-fullscreen .custom-close div:after {
  content: "";
  width: 2rem;
  height: 2px;
  border: 1px solid red;
  position: absolute;
  border-radius: 5px;
}

.custom-fullscreen .custom-close div:after {
  transform: rotate(90deg);
  background: red;
}

.custom-fullscreen.custom-active {
  clip-path: circle(140% at 96.5% 4%);
  transition: all 2s cubic-bezier(0.23, 0.93, 0.23, 0.93);
}

.custom-fullscreen.custom-active ul>li {
  animation: custom-animateIn 360ms ease-in-out calc(var(--animation-order) * 100ms) both;
}

.custom-fullscreen.custom-reverse_anim {
  clip-path: circle(0% at 96.5% 4%);
  opacity: 0.6;
  transition: all 1.4s cubic-bezier(0.23, 0.93, 0.23, 0.93);
}

@keyframes custom-animateIn {
  0% {
    opacity: 0;
    transform: translateX(10px) rotate(2deg);
  }

  100% {
    opacity: 1;
  }
}

.Home_first {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("./assets/MainBG.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.technoCont {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  background: none;
  /* Remove the direct background */
}

.technoCont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/Hero.png") no-repeat center bottom;
  background-size: cover;
  opacity: 0.6;
  /* Reduce opacity of the background */
  z-index: -1;
  /* Place it behind the content */
}



.homeimg {
  width: 100%;
  height: 100vh;
}

.LaptopImg {
  width: 100%;
  animation: bobbingAnim 2s infinite;
}

.red {
  border: 1px solid red;
}

@keyframes bobbingAnim {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out
  }

  50% {
    transform: translate(0px, 12px);
    animation-timing-function: ease-in-out
  }

  100% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out
  }
}

.headHomeTxt h3 {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  color: #2D3792;
}

.headHomeTxt h4 {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color: #fff;
}

.txt-grad {
  /* text-decoration: underline; */
  color: #2D3792;
  /* font-style: italic; */
  font-family: "Poppins";
  font-size: 54px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  outline: none;
  animation: animate 5s linear infinite;
  -webkit-animation: animate 5s linear infinite;

}

@keyframes animate {

  18.1%,
  20.1%,
  30%,
  50%,
  60%,
  80.1%,
  90%,
  93%,
  100% {
    color: white;
    text-shadow: 0 1px 10px #83bcf4,
      0 0 0px #2d379288,
      0 0 6px #2d379288,
      0 0 06px #2d379288,
      0 0 6px #2d379288;
  }
}


.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.5em 0.8em 1.2em;
  color: white;
  background: #2D3792;
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 8px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
}



.Profile {
  width: 342px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  padding: 30px
}

.ProfilePic {
  width: 100%;
  border-radius: 50%;
}

.Profileinfo h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 26px;
}

.Profileinfo h4 {
  font-size: 30px;
  font-weight: 500;
  font-family: "Poppins";
  line-height: 40px;

}

.profileicons {
  width: 16px !important;
  height: 16px;
}

.profilemoredetails {
  font-size: 18px;
  line-height: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;

}

.secdProf {
  margin-top: -14px;
  padding: 0;

}

.MainProfileInfo {
  margin-top: -8px;
}

.ProfileHeading {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.Profiletxt {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.ContactBtn {
  font-size: 16px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: #2D3792;
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 10px 14px;
  border-radius: 8px;
  color: #fff;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.ContactBtn:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}

/* From Uiverse.io by abrahamcalsin */


.card-client:hover {
  transform: translateY(-10px);
}



.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: white;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  width: 24px;
  fill: #2D3792;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
  background: #2D3792;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #2D3792;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}

.theIcons {
  color: white;
  font-size: 24px;
  padding: 12px;
  background-color: #2d3792;
  border-radius: 50%;
  cursor: pointer;
}

.theIcons:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.615);
  transition: all 0.2s;
}

.effect3d {
  animation-name: effect3d
}

@keyframes effect3d {
  to {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15)
  }
}

.spacer {
  height: 300px;
}

.AboutCont {
  width: 80%;
}

.AboutContMain {
  position: relative;
  /* padding: 40px; */
  overflow: hidden;
  box-shadow: 0px 0px 10px #00000045;
  border-radius: 25px;
  /* border-top-left-radius: 30px;
  border-bottom-left-radius: 30px; */
}

.AboutContMain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/src/assets/overlay.webp);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;

}

.AboutCont h2 {
  text-align: center;

}

.AboutBox1 {
  width: 250px;
  height: 150px;
  /* border: 1px solid rgb(53, 53, 53); */
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgb(53 52 53 / 20%);

}

@media only screen and (max-width: 500px) {
  .AboutBox2 {
    width: 140px !important;
  }
}

.AboutBox2 {
  width: 250px;
  height: 150px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgb(53 52 53 / 20%);

}

.AboutBox1:hover {
  box-shadow: none !important;
  border: 1px solid rgb(53, 53, 53);
}

.EduIcon {
  width: 50px;
}

.AboutBox1 h3 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.AboutBox1inner {
  flex-direction: column;
}

.AboutCont p {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .ProfilePic {
    width: 150px;
  }

  .ProfilePicmain {
    text-align: center;
  }

  .alignProfileInfo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .AboutContMain::before {
    background-position: left;
  }

  .AboutCont p {
    text-align: justify;
  }
}

.aboutme {
  position: relative;
}

.aboutme::before {
  content: "";
  width: 26px;
  height: 26px;
  background: url(/src/assets/sparkles.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  position: absolute;
  left: -33px;
  top: 4px;
}

.Techlogo {
  width: 100px;
  height: 100px;
}

.techskilltxt {
  position: relative;
  display: block;
  padding: 12px;
  border: 1px solid #2D3792;
  border-radius: 8px;
  background: #2D3792;
  color: white;
}

.techskilltxt::before {
  content: "";
  width: 50px;
  height: 2px;
  top: 50%;
  left: -70px;
  right: auto;
  position: absolute;
  background: #2D3792;
}

.techskilltxt::after {
  content: "";
  width: 50px;
  height: 2px;
  top: 50%;
  right: -70px;
  position: absolute;
  background: #2D3792;
}

.brainwave {
  color: #2D3792;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.expComp h4 {
  font-size: 24px
}

@media only screen and (max-width: 600px) {
  .expComp h4 {
    font-size: 18px
  }

  .expComp p {
    font-size: 14px;
    font-weight: 500;
  }

  .ProjectCards {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.intertxt {
  font-size: 16px;
  font-family: "Roboto", sans-serif;

}


.custom-card p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.custom-card p.custom-small {
  font-size: 14px;
}

.custom-go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #2D3792;
  border-radius: 0 4px 0 32px;
}

.custom-go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
  transform: rotate(-45deg);
}

.FypBox {
  border: 2px solid #2D3792;
}

.custom-card1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 24px 24px 3px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  height: 105px;

}

.custom-card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #2D3792;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-out;
}

.custom-card1:hover:before {
  transform: scale(21);
}

.custom-card1:hover p {
  transition: all 0.3s ease-out;
  color: #fff;
}

.custom-card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

.custom-card2 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262
}

.FYPtxt {
  font-size: 14px;
  font-weight: 600;
}

.Whatsappicon {
  font-size: 22px;
}

.ancherWhats {
  text-decoration: none;
  color: #505050;
}

.ancherWhats p {
  text-decoration: none;
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins";
}

.my-email {
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins";
}

.Project-Main-Cont {
  width: 100%;
  min-height: 100vh;
}

.Project-container {
  width: 80%;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 30px
}

.ProjectProfile {
  width: 200px;
 
}

.red {
  border: 1px solid red;
}

.projectColumn1 {
  border-right: 2px solid rgba(255, 255, 255, 0.8);
}
@media only screen and (max-width: 500px) {
  .projectColumn1 {
    border-right: unset !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  }
  .Project-Detai-container{
    padding-top: 24px;
  }
}

.ContactBtn2 {
  font-size: 16px;
  display: inline-block;
  outline: 0;
  border: 0;
  will-change: box-shadow, transform;
  background: #676975;
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 10px 14px;
  border-radius: 8px;
  color: #fff;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  cursor: not-allowed !important;
}
#peptidelogo{
  width: 100px;
}